<!DOCTYPE html>
<html lang="{{CUR_LANG}}">

    <head>
        <meta charset="UTF-8">
        <meta property="og:locale" content="{{CUR_LANG}}_{{CUR_LANG|upper}}"/>
        <meta content="WebApp" property="og:type"/>
        <meta content="Light Money web app" property="og:title"/>
        <meta content="Light, votre solution ultime pour l'administration de votre site web." property="og:description"/>
        <meta content="https://www.imediatis.net/" property="og:url"/>
        <meta content="La Solution d'échange financière" property="og:site_name"/>
        <meta property="og:image" content="{{ base_url() }}/ico/favicon.ico"/>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        {% block header %}{% endblock header %}
        <meta content="ie=edge" http-equiv="X-UA-Compatible">
        <link rel="shortcut icon" href="{{ base_url() }}/ico/{{Reseller.icon}}">
        <link href="{{ base_url() }}/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ base_url() }}/font-awesome/css/font-awesome.css" rel="stylesheet">
        <link href="{{ base_url() }}/css/animate.css" rel="stylesheet">
        <link href="{{ base_url() }}/css/style.css" rel="stylesheet">
        <link href="{{ base_url() }}/css/site.css" rel="stylesheet">
        <link href="{{ base_url() }}/css/ime.master.css" rel="stylesheet">
        <link href="{{ base_url() }}/css/alertifyjs/alertify.min.css" rel="stylesheet">
        <link href="{{ base_url() }}/css/alertifyjs/themes/default.min.css" rel="stylesheet">
        <style>
            .sidebar-container .setings-item {
                padding: 5px 20px !important;
            }
        </style>
        {% block styles %}{% endblock styles %}
        <title>{{appEnv.appName}}-{{title}}</title>
    </head>

    <body class="fixed-navigation">
        <div id="wrapper">
            {% include session.coreShareViewsF ~"main-navigation.twig" %}

            <div class="gray-bg sidebar-content" id="page-wrapper">

                {% include session.coreShareViewsF ~"topbar-navigation.twig" %}
                {#{% include session.coreShareViewsF ~"sidebar-panel.twig" %} #}

                <div class="wrapper wrapper-content animated fadeIn">
                    {% block content %}{% endblock content %}
                </div>
                <div class="footer">
                    <div class="pull-right">
                        <strong>Copyright</strong>
                        IMEDIATIS &copy; 2018-{{"now"|date("Y")}}
                    </div>
                </div>

            </div>

            {% include session.coreShareViewsF ~"quickmenu-top.twig" %}
        </div>

        <!-- Mainly scripts -->
        <script src="{{ base_url() }}/js/jquery-3.1.1.min.js"></script>
        <script src="{{ base_url() }}/js/plugins/jquery-ui/jquery-ui.min.js"></script>
        <script src="{{ base_url() }}/js/bootstrap.min.js"></script>
        <script src="{{ base_url() }}/js/plugins/metisMenu/jquery.metisMenu.js"></script>
        <script src="{{ base_url() }}/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

        <!-- Custom and plugin javascript -->
        <script src="{{ base_url() }}/js/inspinia.js"></script>
        <script src="{{ base_url() }}/js/plugins/pace/pace.min.js"></script>
        <script src="{{ base_url() }}/js/custom.js"></script>
        <!-- jQuery UI -->
        <script src="{{ base_url() }}/js/alertify.min.js"></script>
        <script>
            var dtLanguage = {
                "emptyTable": '{{LexiqueGetString("no-matching-records-found")}}',
                "info": " _START_ " + '{{LexiqueGetString("to")}}' + " _END_ " + '{{LexiqueGetString("of")}}' + " _TOTAL_ ",
                "infoEmpty": " 0 " + '{{LexiqueGetString("to")}}' + " 0 " + '{{LexiqueGetString("of")}}' + " 0 ",
                "infoFiltered": "",
                "lengthMenu": '{{LexiqueGetString("show")}}' + " _MENU_ ",
                "search": '{{LexiqueGetString("search")}}' + ' : ',
                "zeroRecords": '{{LexiqueGetString("no-matching-records-found")}}',
                "paginate": {
                    "next": '{{LexiqueGetString("next")}}',
                    "previous": '{{LexiqueGetString("previous")}}'
                }
            };

            $(document).ready(function () {
                $("[data-toggle=tooltip]").tooltip();
            });
        </script>
        {% block scripts %}{% endblock scripts %}

    </body>

</html>
